<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" >
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Panasonic</title>
  </head>
  <body>

    
    
    <header class="header_sec">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="index.html">
             <img src="assets/images/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto main_menu">
              <li class="nav-item">
                <a class="nav-link" href="AboutUs.html">ABOUT US</a>
              </li>
           
              <li class="nav-item has_child">
                <a class="nav-link drop_togl_inr" href="javascript:void(0)">
                SOLUTIONS
                </a>
                <ul class="dropdown-menu sub_menu">
                  <li class="has_child">
                    <a class="dropdown-item drop_togl_inr" href="javascript:void(0)">SURVEILLANCE CAMERAS</a>
                    <ul class="sub_menu">
                      <li><a href="IproListing.html">i-PRO CAMERA</a></li>
                      <li><a href="#">ADVIDIA CAMERA</a></li>
                    </ul>
                  </li>

                  <li>
                    <a class="dropdown-item" href="javascript:void(0)">NETWORK VIDEO RECORDERS</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="Accessories.html">ACCESSORIES</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="javascript:void(0)">SECURITY SOLUTIONS</a>
                  </li>
                 
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">INDUSTRIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CaseStudy.html">CASE STUDIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Newsroom.html">NEWSROOM</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto right-nav inquire-now-menu mobile_hide">
                  <li class="nav-item">
                      <a class="inquire-now-link" href="InquireNow.html">INQUIRE NOW</a>
                  </li>
              </ul>
            <ul class="social_main mobile_mene_soc">
              <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
            </ul> 
          </div>
        </div>
      </nav>
    </header>
    <div class="header_space"></div>

<main class="main_content">
      <section class="top-banner">
        <div class="categories_top_banner about_top_banner">
          <figure>
                <img src="assets/images/home_top_banner.jpg">
          </figure>
         <!--  <div class="container">
              <div class="banner_content">
                <h1 class="main_title">Protecting your business with uncompromised security</h1>
                  <p class="sub_title">Panasonic security solutions setting the new standards to guard your business</p>
                <a href="#" class="btn discover-now-btn">DISCOVER NOW</a>
              </div>
            </div>
        </div> -->
      </section>

      <section class="sec_padd">
        <div class="container">
                    <div class="head_cmn text-center">
                       <h2 class="head_2 mb-3">COMPLETE DIGITAL SIGNAGE SOLUTION</h2>
                       <p class="fon-20 sub_title gray-color">Effortlessly deliver better, more engaging content to your audience with a fully integrated Digital Signage solution. Panasonic is your all-in-one strategic solution partner for providing the best customer experience from your digital signage applications.</p>
                    </div>

        </div>
      </section>


      <!-- <section class="sec_padd about-service">

        <div class="container">
                     <div class="head_cmn text-center white-text">
                       <h2 class="head_2 mb-3">OUR GOAL IS TO MAKE YOUR LIFE EASIER & SAFER</h2>
                       <p class="fon-20 sub_title ">We provide hardware instead of reengineered our hardware and software for a plug and play platform that delivers enhanced point-to-point data security and enterprise-level management-all housed in powerful, intuitive software.</p>
                    </div>
            

             <div class="row">

              <div class="col-md-4">
                <div class="about-block">
                  <div class="service_img">
                    <figure><img src="assets/images/about-bg-1.jpg" alt="abot img"></figure>
                  </div>
                  <div class="about-content">
                    <div class="about-service-icon-title">
                       <div class="icon">
                             <img src="assets/images/icon-1.svg" alt="icon">
                       </div>
                       <h3>Solutions</h3>
                     </div>
                     <ul>
                       <li>Video Surveillance</li>
                       <li>Perimeter Intrusion Detection System</li>
                       <li>Access Control system</li>
                       <li>AI solution</li>
                     </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="about-block">
                  <div class="service_img">
                    <figure><img src="assets/images/about-bg-2.jpg" alt="abot img"></figure>
                  </div>
                  <div class="about-content">
                     <div class="about-service-icon-title">
                         <div class="icon">
                               <img src="assets/images/icon-2.svg" alt="icon">
                         </div>
                       <h3>Technology</h3>
                     </div>
                      
                     <ul>
                       <li>Video Capturing Technologies</li>
                       <li>AI Video Analysing Technology</li>
                       <li>Data Security Technology</li>
                       <li>Sensing Technology</li>
                     </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="about-block">
                  <div class="service_img">
                     <figure><img src="assets/images/about-bg-3.jpg" alt="abot img"></figure>
                  </div>
                  <div class="about-content">
                     <div class="about-service-icon-title">
                     <div class="icon">
                           <img src="assets/images/icon-3.svg" alt="icon">
                     </div>
                     <h3>Services</h3>
                   </div>
                     <ul>
                       <li>System integration</li>
                       <li>Solution installation</li>
                       <li>Annual maintenance</li>
                       <li>Security Auditing</li>
                     </ul>
                  </div>
                </div>
              </div>
            

              </div>



        </div>
      </section> -->

<section class="sec_padd our-technology">

        <div class="container">
                     <div class="head_cmn text-center mb-5 ">
                       <h2 class="head_2 mb-3">OUR CORE TECHNOLOGY</h2>
                    </div>
            

         <div class="tech-block-list">
             <div class="row">
                 <div class="col-md-6 tech-content">
                  <div class="tech-block">
                    <h2>Edge AI Technology</h2>
                    <h5>With powerful Edge AI processor at the edge, our cameras can process advances analytics locally and only send the lightweight results as metadata to the backend server.</h5>
                    <ul class="list-unstyled tech-list">
                      <li class="nav-item">Wide variety of AI camera models</li>
                       <li class="nav-item">Computer vision chip architecture</li>
                       <li class="nav-item">Maximizes system performance</li>
                    </ul>
                    <span class="gray-shape"><img src="assets/images/left-gray-shap.png"></span>
                  </div>
                  </div>
                  <div class="col-md-6 tech-img">
                    
                    <div class="technology-img">
                         <span class="shape"><img src="assets/images/yellow-shap.png"></span>
                        <img src="assets/images/newroom-3.jpg" alt="icon">
                    </div>

                  </div>
                </div>
                  <!-- row -->
              </div>

           <div class="tech-block-list">
                  <div class="row">
                 <div class="col-md-6 tech-content">
                  <div class="tech-block">
                    <h2>Open Platform</h2>
                    <h5>Our cameras are well integrated with the leading VMS software, and i-Pro Active Guard integrated with in-house VMS Video Insight.</h5>
                    <ul class="list-unstyled tech-list">
                      <li class="nav-item">Integrates into leading VMS</li>
                       <li class="nav-item">Supports technology partner applications</li>
                       <li class="nav-item">Provides development support with SDK/API</li>
                    </ul>
                    <span class="gray-shape"><img src="assets/images/left-gray-shap.png"></span>
                  </div>
                  </div>
                  <div class="col-md-6 tech-img">
                    
                    <div class="technology-img">
                         <span class="shape"><img src="assets/images/yellow-shap.png"></span>
                         <img src="assets/images/newroom-3.jpg" alt="icon">
                    </div>

                  </div>
                </div>
                  <!-- row -->
                </div>

              <div class="tech-block-list">
                  <div class="row">
                <div class="col-md-6 tech-content">
                  <div class="tech-block">
                    <h2>Cyber Security</h2>
                    <h5>Our cameras are designed and built with trust, safety, and security in mind. Our Cameras include robust security features to meet the needs of customers who comply with security frameworks</h5>
                    <ul class="list-unstyled tech-list">
                      <li class="nav-item">Wide variety of AI camera models</li>
                       <li class="nav-item">Computer vision chip architecture</li>
                       <li class="nav-item">Maximizes system performance</li>
                    </ul>
                    <span class="gray-shape"><img src="assets/images/left-gray-shap.png"></span>
                  </div>
                  </div>
                  <div class="col-md-6 tech-img">
                    
                    <div class="technology-img">
                         <span class="shape"><img src="assets/images/yellow-shap.png"></span>
                         <img src="assets/images/newroom-3.jpg" alt="icon">
                    </div>

                  </div>
                </div>
                  <!-- row -->
                </div>
                <!-- tech-block-list -->


                <div class="tech-block-list">
                  <div class="row">
                <div class="col-md-6 tech-content">
                  <div class="tech-block">
                    <h2>Ease of Installation</h2>
                    <h5>Our cameras are designed to blend seamlessly with your environment. The hooking structure, USB wifi support, and useful installation tools supports in easy configuration and efficient working.</h5>
                    <ul class="list-unstyled tech-list">
                      <li class="nav-item">Camera design optimised for easy installation</li>
                       <li class="nav-item">Installation tools</li>
                       <li class="nav-item">Pre-configured with easy kitting</li>
                    </ul>
                    <span class="gray-shape"><img src="assets/images/left-gray-shap.png"></span>
                  </div>
                  </div>
                  <div class="col-md-6 tech-img">
                    
                    <div class="technology-img">
                         <span class="shape"><img src="assets/images/yellow-shap.png"></span>
                         <img src="assets/images/newroom-3.jpg" alt="icon">
                    </div>

                  </div>
                </div>
                  <!-- row -->
                </div>
                <!-- tech-block-list -->


                <div class="tech-block-list">
                  <div class="row">
               <div class="col-md-6 tech-content">
                  <div class="tech-block">
                    <h2>Reduced Bandwidth</h2>
                    <h5>Our cameras detect people and vehicles and optimize the encoding parameters., supports up to 50% reduced bandwidth improvement</h5>
                    <ul class="list-unstyled tech-list">
                      <li class="nav-item">AI Smart Coding</li>
                       <li class="nav-item">AI-based optimisation</li>
                       <li class="nav-item">3D noise reduction</li>
                    </ul>
                    <span class="gray-shape"><img src="assets/images/left-gray-shap.png"></span>
                  </div>
                  </div>
                  <div class="col-md-6 trch-img">
                    
                    <div class="technology-img">
                         <span class="shape"><img src="assets/images/yellow-shap.png"></span>
                         <img src="assets/images/newroom-3.jpg" alt="icon">
                    </div>

                  </div>
                </div>
                  <!-- row -->
                </div>
                <!-- tech-block-list -->


                <div class="tech-block-list">
                  <div class="row">
                 <div class="col-md-6 tech-content">
                  <div class="tech-block">
                    <h2>Product Reliability</h2>
                    <h5>Our cameras are designed for superior level of resistance against impacts and are built to last long.</h5>
                    <ul class="list-unstyled tech-list">
                      <li class="nav-item">Wide variety of AI camera models</li>
                       <li class="nav-item">Computer vision chip architecture</li>
                       <li class="nav-item">Maximizes system performance</li>
                    </ul>
                    <span class="gray-shape"><img src="assets/images/left-gray-shap.png"></span>
                  </div>
                  </div>
                  <div class="col-md-6 tech-img">
                    
                    <div class="technology-img">
                         <span class="shape"><img src="assets/images/yellow-shap.png"></span>
                        <img src="assets/images/newroom-3.jpg" alt="icon">
                    </div>

                  </div>
                </div>
                  <!-- row -->
                </div>
                <!-- tech-block-list -->
       

       </div>
</section>  


<section class="sec_padd inquire-now-section">
    <div class="container">
             <div class="head_cmn text-center mb-5 ">
                  <h2 class="head_2 mb-3">INQUIRE NOW</h2>
              </div>
              <div class="inquire-now-form">
                <form id="contact_form" name="contact_form" method="post">
                  <div class="mb-5 row">
                      <div class="col">
                          <input type="text" required maxlength="50" class="form-control" id="first_name" name="type" placeholder="Type">
                      </div>

                      <div class="col">
                           <select class="form-select form-select-lg">
                                   <option>Product / Category of Interest*</option>
                                   <option>Category 1</option>
                                   <option>Category 2</option>
                                   <option>Category 3</option>
                                 </select>
                              
                      </div>

                      <div class="col">
                          <input type="text"  class="form-control" id="last_name" name="city" placeholder="City*">
                      </div>
                  </div>
                  <div class="col-md-12 text-center"><button type="submit" class="btn inquire-now-link round-0" >SUBMIT NOW</button></div>
                
                  
                  
              </form>
                
              </div>
            

    </div>
</section>
  


 </main>



   <footer class="footer_sec">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="ftr_logo">
              <a href=""><img src="assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="footer_social">
              <h4>Follow Us</h4>
              <ul class="social_main">
                <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Solutions</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Display Solutions</a>
                </li>
                <li class="col-auto">
                  <a href="">Projectors</a>
                </li>
                <li class="col-auto">
                  <a href="">Broadcast & professional AV</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Industries</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Retail Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">QSR Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">Meeting Room</a>
                </li>
                <li class="col-auto">
                  <a href="">Hospitality</a>
                </li>

                <li class="col-auto">
                  <a href="">Airports/ Railways</a>
                </li>
                <li class="col-auto">
                  <a href="">Education Institutions</a>
                </li>

                
              </ul>
          </div>

            <div class="col-12 col-md-2 ">
                <div class="ftr_title"><h3>Other Links</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">About Us</a>
                </li>
                <li class="col-auto">
                  <a href="">Newsroom</a>
                </li>
                <li class="col-auto">
                  <a href="">Case studies</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-3 contact_us">
               <div class="ftr_title"><h3>Contact Us</h3></div>
              <ul class="footer_menu_main gx-2 justify-content-md-between">
                <li class="col-auto">
                  <p>Panasonic Life Solutions India Private Limited12th Floor, Ambience Tower I, Ambience IslandNH-8, Gurgaon, Haryana-122002, IndiaTel-+91-0124-4751300</p>
                </li>
                <li class="col-auto">
                  Contact Number: +91 9818808005
                </li>
                <li class="col-auto">
                 Email Address: sales.ccve@in.panasonic.com
                </li>
              </ul>
          </div>
<!-- 
            <ul class="mobile_menu">
              <li><a href="cinthol-brand-story.html">Cinthol Brand Story</a></li>
              <li><a href="why-original.html">Original</a></li>
              <li><a href="cinthol-original-story.html">Cinthol Original History</a></li>
              <li><a href="#">Lime</a></li>
              <li><a href="inspired-list.html">Get Inspired</a></li>
              <li><a href="#">Cool</a></li>
            </ul> -->
           
          
        </div>


      </div>
      <div class="container ">
        <div class="top-border"></div>
        <div class="row justify-content-between align-items-center ftr-bottom-menu">
          <div class="col col-md-auto">
             <div class="ftr_left_menu">
                <p><a href="#">Privacy Policy</a></p>
            </div>
          </div>
          <div class="col col-md-auto">
            <div class="copyright_text"> © All rights are reserved.</div>
          </div>
          <div class="col-auto">
             <div class="ftr_right_menu">
              <p><a href="#">Terms of Use</a></p>
        </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="video_popup" tabindex="-1" aria-labelledby="video_popupLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="450" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- <script src="assets/js/jquery-3.2.1.min.js" ></script> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/fontawesome-all.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/script_custom.js"></script>
   

    
  </body>
</html>
