<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" >
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Panasonic</title>
  </head>
  <body>

    
    
    <header class="header_sec">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="index.html">
             <img src="assets/images/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto main_menu">
              <li class="nav-item">
                <a class="nav-link" href="AboutUs.html">ABOUT US</a>
              </li>
           
              <li class="nav-item has_child">
                <a class="nav-link drop_togl_inr" href="javascript:void(0)">
                SOLUTIONS
                </a>
                <ul class="dropdown-menu sub_menu">
                  <li class="has_child">
                    <a class="dropdown-item drop_togl_inr" href="javascript:void(0)">SURVEILLANCE CAMERAS</a>
                    <ul class="sub_menu">
                      <li><a href="IproListing.html">i-PRO CAMERA</a></li>
                      <li><a href="#">ADVIDIA CAMERA</a></li>
                    </ul>
                  </li>

                  <li>
                    <a class="dropdown-item" href="javascript:void(0)">NETWORK VIDEO RECORDERS</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="Accessories.html">ACCESSORIES</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="javascript:void(0)">SECURITY SOLUTIONS</a>
                  </li>
                 
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CaseStudy.html">INDUSTRIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Newsroom.html">NEWSROOM</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto right-nav inquire-now-menu mobile_hide">
                  <li class="nav-item">
                      <a class="inquire-now-link" href="InquireNow.html">INQUIRE NOW</a>
                  </li>
              </ul>
            <ul class="social_main mobile_mene_soc">
              <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
            </ul> 
          </div>
        </div>
      </nav>
    </header>


    <!-- end header -->




    <div class="header_space"></div>

    <main class="main_content">
        <div class="home_banner_sec">
          <div class="slide_item">
            <div class="banner_img">
              <img src="assets/images/home_top_banner.jpg">
            </div>
            <div class="container">
            <div class="banner_caption">
                <h3>DESIGN FOR THE BETTER WORLD FOR BETTER DIGITAL DISPLAY.</h3>
               </div>
          </div>
          </div>

    


      <section class="solution_sec sec_padd">
        <div class="container">
          <div class="head_cmn text-center">
            <h2 class="head_2">THE SOLUTION FOR ALL YOUR DISPLAY NEEDS</h2>
          </div>
          <div class="row">
            <div class="col-md-10 mx-auto">
          <div class="sec_p text-center">
            <p>Panasonic’s Digital Signage Solution ecosystem includes hardware, software, and services that work holistically together to provide the right-sized display for any scenario. Our exceptional solutions combine the highest quality high-definition (HD) and 4K professional displays, interactive technologies and network-based multimedia content into dynamic systems that work for your business.</p>
          </div>
        </div>
        </div>
      </section>

      <section class="home_about_sec sec_padd gray-bg">
        <div class="container">
          <div class="head_cmn text-center">
            <h2 class="head_2">END-TO-END DISPLAY SOLUTIONS</h2>
          </div>

          <div class="row">
             <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-1.jpg" alt="blog img">
                  </figure>
                  <div class="item_body">
                  
                    <div class="body-link">
                      <a href="#" class="link">Standard Display<span class="arrow-right"></span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-2.jpg" alt="blog img">
                  </figure>
                  <div class="item_body">
                     <div class="body-link">
                        <a href="#" class="link">Professional Display <span class="arrow-right"><img src="assets/images/Icon-arrow-right.svg"></span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-2.jpg" alt="blog img">
                  </figure>
                  <div class="item_body">
                    <div class="body-link">
                       <a href="#" class="link">Interactive Touch Screen <span class="arrow-right"><img src="assets/images/Icon-arrow-right.svg"></span></a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-4.jpg" alt="blog img">
                  </figure>
                    <div class="item_body">
                      <div class="body-link">
                         <a href="#" class="link">Indoor LED Signage <span class="arrow-right"><img src="assets/images/Icon-arrow-right.svg"></span></a>
                     </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-5.jpg" alt="blog img">
                  </figure>
                  <div class="item_body">
                    <div class="body-link">
                       <a href="#" class="link">Electronic Labels <span class="arrow-right"><img src="assets/images/Icon-arrow-right.svg"></span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-6.jpg" alt="blog img">
                  </figure>
                  <div class="item_body">
                    <div class="body-link">
                       <a href="#" class="link">Meeting Room Management<span class="arrow-right"><img src="assets/images/Icon-arrow-right.svg"></span></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-7.jpg" alt="blog img">
                  </figure>
                  <div class="item_body">
                    <div class="body-link">
                       <a href="#" class="link">Projectors<span class="arrow-right"><img src="assets/images/Icon-arrow-right.svg"></span></a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 col-lg-3">
                <div class="solution_item">
                  <figure>
                    <img src="assets/images/solution-8.jpg" alt="blog img">
                  </figure>
                  <div class="item_body">
                    <div class="body-link">
                       <a href="#" class="link">Broadcast Solutions <span class="arrow-right"><img src="assets/images/Icon-arrow-right.svg"></span></a>
                    </div>
                  </div>
                </div>
              </div>

        </div>
      </section>

      <section class="industry_sec sec_padd blue-bg">
        <div class="container">

          <div class="head_cmn text-center white-text">
            <h2 class="head_2">OUR DISPLAY, YOUR INDUSTRY</h2>
            <p>Check out which offerings from our digital signage solution best serve your business’s existing or upcoming needs.</p>
          </div>

             <div class="row align-items-center">

               <!-- User this HTML for Slider -->

                <div class="industry_banner banner-content clearfix">
                    <div class="banner-slider">
                        <div class="slider slider-for">
                            <div class="slider-banner-image">
                                <img src="assets/images/business-slide.jpg" alt="industry img">
                                <div class="industry_caption">
                                  <h3>Product AV</h3>
                                </div>
                            </div> 
                            <div class="slider-banner-image">
                                   <img src="assets/images/business-slide2.jpg" alt="industry img">
                                   <div class="industry_caption">
                                    <h3>Product AV</h3>
                                  </div>
                            </div> 
                            <div class="slider-banner-image">
                                   <img src="assets/images/business-slide3.jpg" alt="industry img">
                                   <div class="industry_caption">
                                    <h3>Product AV</h3>
                                  </div>
                            </div> 
                             <div class="slider-banner-image">
                                   <img src="assets/images/business-slide.jpg" alt="industry img">
                                   <div class="industry_caption">
                                    <h3>Product AV</h3>
                                  </div>
                            </div> 
                            <div class="slider-banner-image">
                                   <img src="assets/images/business-slide.jpg" alt="industry img">
                                   <div class="industry_caption">
                                    <h3>Product AV</h3>
                                  </div>
                            </div> 
                           
                        </div>

                        <div class="slider slider-nav thumb-image industry_banner_thumb">
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="assets/images/thumbnail-1.png" alt="industry img">
                                </div>
                                <h4>Product AV</h4>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                   <img src="assets/images/thumbnail-1.png" alt="industry img">
                                </div>
                                 <h4>Product AV</h4>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                   <img src="assets/images/thumbnail-1.png" alt="industry img">
                                </div>
                                 <h4>Product AV</h4>
                            </div>
                              <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="assets/images/thumbnail-1.png" alt="industry img">
                                </div>
                                  <h4>Product AV</h4>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>


        <!-- End User this HTML for Slider -->

            
            </div>
        </div>
      </section>

            <section class="industry_service sec_padd">
              <div class="container">
                           <div class="head_cmn text-center">
                                 <h2 class="head_2">INDUSTRIES SERVES</h2>
                            </div>

                          <div class="row align-items-center">

                              <div class="col-md-4">
                                <div class="industry_service_block">
                                  <div class="icon"><img src="assets/images/icon-1.svg"></div>
                                  <h4>Retail Industry</h4>
                              </div>
                            </div>

                               <div class="col-md-4">
                                <div class="industry_service_block">
                                  <div class="icon"><img src="assets/images/icon-2.svg"></div>
                                  <h4>QSR Industry</h4>
                              </div>
                            </div>


                               <div class="col-md-4">
                                <div class="industry_service_block">
                                  <div class="icon"><img src="assets/images/icon-3.svg"></div>
                                  <h4>Meeting Room</h4>
                              </div>
                            </div>


                               <div class="col-md-4">
                                <div class="industry_service_block">
                                  <div class="icon"><img src="assets/images/icon-4.svg"></div>
                                  <h4>Hospitality</h4>
                              </div>
                            </div>

                               <div class="col-md-4">
                                <div class="industry_service_block">
                                  <div class="icon"><img src="assets/images/icon-5.svg"></div>
                                  <h4>Airports/ Railways</h4>
                              </div>
                            </div>

                               <div class="col-md-4">
                                <div class="industry_service_block">
                                  <div class="icon"><img src="assets/images/icon-6.svg"></div>
                                  <h4>Education Institutions</h4>
                              </div>
                            </div>


                          </div>

                </div>
          </section>






      <section class="case_studies sec_padd gray-bg Success_stories">
        <div class="container">
          <div class="head_cmn text-center">
            <h2 class="head_2">SUCCESS STORIES</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata</p>
          </div>

          <div class="case_studies_slider">
               <div class="product_slide">
                    <div class="product_item">
                        <figure>
                          <img src="assets/images/stories-img-1.jpg" alt="case studies">
                        </figure>
                          <div class="item_body">
                            <h4>New sustainable logistics headquar ters Rhenus in tilburg optimally secured - Nederland</h4>
                            <div class="read-more-link text-start">
                            <a href="#">Read More</a>
                          </div>
                         </div>
                    </div>
                </div>
              <div class="product_slide">
                <div class="product_item">
                    <figure>
                      <img src="assets/images/stories-img-2.jpg" alt="case studies">
                    </figure>
                    <div class="item_body">
                      <h4>New sustainable logistics headquar ters Rhenus in tilburg optimally secured - Nederland</h4>
                      <div class="read-more-link text-start">
                            <a href="#">Read More</a>
                          </div>
                    </div>
                </div>
              </div>

              <div class="product_slide">
                  <div class="product_item">
                            <figure>
                               <img src="assets/images/stories-img-1.jpg" alt="case studies">
                            </figure>
                        <div class="item_body">
                          <h4>New sustainable logistics headquar ters Rhenus in tilburg optimally secured - Nederland</h4>
                            <div class="read-more-link text-start">
                            <a href="#">Read More</a>
                          </div>
                         </div>
                    </div>
              </div>


               <div class="product_slide">
                      <div class="product_item">
                                <figure>
                                   <img src="assets/images/stories-img-3.jpg" alt="case studies">
                                </figure>
                                 <div class="item_body">
                                  <h4>New sustainable logistics headquar ters Rhenus in tilburg optimally secured - Nederland</h4>
                               
                      
                                  <div class="read-more-link text-start">
                            <a href="#">Read More</a>
                          </div>
                                   </div>
                        </div>
                   </div>

                   <div class="product_slide">
                    <div class="product_item">
                            <figure>
                              <img src="assets/images/stories-img-2.jpg" alt="case studies">
                            </figure>
                                <div class="item_body">
                                    <h4>New sustainable logistics headquar ters Rhenus in tilburg optimally secured - Nederland</h4>
                                     <div class="read-more-link text-start">
                            <a href="#">Read More</a>
                          </div>
                                </div>
                    </div>
                  </div>


        </div>
      </section>


    <section class="newsroom_sec sec_padd ">
        <div class="container">
             <div class="head_cmn text-center">
            <h2 class="head_2">NEWSROOM</h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="news_block">
                <div class="news_thumbnail new_left">
                  <figure>
                    <img src="assets/images/newsroom1.jpg"/>
                  </figure>
                   <div class="news-content">
                  <h4>Lorem ipsum dolor sit amet, conse tetur sadipscing elitr, sed diam non umy eirmod tempor invidunt ut</h4>
                  <a href="#" class="btn read_more">Know More</a>
                </div>
                </div>
              </div>
              
            </div>
              <div class="col-md-6 col-12">
                  <div class="news_right row">
                          <div class="col-md-12">
                                 <div class="news_block">
                                  <div class="news_thumbnail_list news_right">
                                    <figure>
                                      <img src="assets/images/newroom-2.jpg"/>
                                    </figure>
                                  <div class="news-content">
                                      <h4>Lorem ipsum dolor sit amet, conse tetur sadipscing elitr, sed diam non umy eirmod tempor invidunt ut</h4>
                                      <a href="#" class="btn read_more">Know More</a>
                                  </div>
                                  </div>
                                </div>
                          </div>
                           <div class="col-md-12">
                                 <div class="news_block">
                                  <div class="news_thumbnail_list news_right">
                                    <figure>
                                      <img src="assets/images/newroom-3.jpg"/>
                                    </figure>
                                      <div class="news-content">
                                      <h4>Lorem ipsum dolor sit amet, conse tetur sadipscing elitr, sed diam non umy eirmod tempor invidunt ut</h4>
                                      <a href="#" class="btn read_more">Know More</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                           <div class="col-md-12">
                                 <div class="news_block">
                                  <div class="news_thumbnail_list news_right">
                                    <figure>
                                      <img src="assets/images/newroom-4.jpg"/>
                                    </figure>
                                      <div class="news-content">
                                      <h4>Lorem ipsum dolor sit amet, conse tetur sadipscing elitr, sed diam non umy eirmod tempor invidunt ut</h4>
                                      <a href="#" class="btn read_more">Know More</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                  </div>
              </div>
          </div>

        </div>
  </section>














    </main>



    <footer class="footer_sec">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="ftr_logo">
              <a href=""><img src="assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="footer_social">
              <h4>Follow Us</h4>
              <ul class="social_main">
                <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Solutions</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Display Solutions</a>
                </li>
                <li class="col-auto">
                  <a href="">Projectors</a>
                </li>
                <li class="col-auto">
                  <a href="">Broadcast & professional AV</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Industries</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Retail Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">QSR Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">Meeting Room</a>
                </li>
                <li class="col-auto">
                  <a href="">Hospitality</a>
                </li>

                <li class="col-auto">
                  <a href="">Airports/ Railways</a>
                </li>
                <li class="col-auto">
                  <a href="">Education Institutions</a>
                </li>

                
              </ul>
          </div>

            <div class="col-12 col-md-2 ">
                <div class="ftr_title"><h3>Other Links</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">About Us</a>
                </li>
                <li class="col-auto">
                  <a href="">Newsroom</a>
                </li>
                <li class="col-auto">
                  <a href="">Case studies</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-3 contact_us">
               <div class="ftr_title"><h3>Contact Us</h3></div>
              <ul class="footer_menu_main gx-2 justify-content-md-between">
                <li class="col-auto">
                  <p>Panasonic Life Solutions India Private Limited12th Floor, Ambience Tower I, Ambience IslandNH-8, Gurgaon, Haryana-122002, IndiaTel-+91-0124-4751300</p>
                </li>
                <li class="col-auto">
                  Contact Number: +91 9818808005
                </li>
                <li class="col-auto">
                 Email Address: sales.ccve@in.panasonic.com
                </li>
              </ul>
          </div>

           
          
        </div>


      </div>
      <div class="container ">
        <div class="top-border"></div>
        <div class="row justify-content-between align-items-center ftr-bottom-menu">
          <div class="col col-md-auto">
             <div class="ftr_left_menu">
                <p><a href="#">Privacy Policy</a></p>
            </div>
          </div>
          <div class="col col-md-auto">
            <div class="copyright_text"> © All rights are reserved.</div>
          </div>
          <div class="col-auto">
             <div class="ftr_right_menu">
              <p><a href="#">Terms of Use</a></p>
        </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="video_popup" tabindex="-1" aria-labelledby="video_popupLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="450" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- <script src="assets/js/jquery-3.2.1.min.js" ></script> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/fontawesome-all.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/script_custom.js"></script>
   

    
  </body>
</html>
