<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" >
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Panasonic</title>
  </head>
  <body>

    
    
    <header class="header_sec">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="index.html">
             <img src="assets/images/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto main_menu">
              <li class="nav-item">
                <a class="nav-link" href="AboutUs.html">ABOUT US</a>
              </li>
           
              <li class="nav-item has_child">
                <a class="nav-link drop_togl_inr" href="javascript:void(0)">
                SOLUTIONS
                </a>
                <ul class="dropdown-menu sub_menu">
                  <li class="has_child">
                    <a class="dropdown-item drop_togl_inr" href="javascript:void(0)">SURVEILLANCE CAMERAS</a>
                    <ul class="sub_menu">
                      <li><a href="IproListing.html">i-PRO CAMERA</a></li>
                      <li><a href="#">ADVIDIA CAMERA</a></li>
                    </ul>
                  </li>

                  <li>
                    <a class="dropdown-item" href="javascript:void(0)">NETWORK VIDEO RECORDERS</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="Accessories.html">ACCESSORIES</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="javascript:void(0)">SECURITY SOLUTIONS</a>
                  </li>
                 
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">INDUSTRIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CaseStudy.html">CASE STUDIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Newsroom.html">NEWSROOM</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto right-nav inquire-now-menu mobile_hide">
                  <li class="nav-item">
                      <a class="inquire-now-link" href="InquireNow.html">INQUIRE NOW</a>
                  </li>
              </ul>
            <ul class="social_main mobile_mene_soc">
              <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
            </ul> 
          </div>
        </div>
      </nav>
    </header>
    <div class="header_space"></div>

    <main class="main_content">
      <section class="">
        <div class="categories_top_banner">
          <figure>
            <img src="assets/images/banner-img.jpg" alt="banner">
          </figure>
        </div>
      </section>

      <section class="sec_padd inquire-now-page">
        <div class="container">
          <div class="row">
                        <div class="col-md-4 col-12 mobile_hide">
                                <div class="left_sidebar inquire-left-content">
                                  <h2 class="mb-3">Contact Support</h2>
                                  <h6>Need some technical assistance from Security Solutions?</h6>
                                      <div class="Support_content">
                                        <p>We’ll be delighted to help, answering queries on: </p>
                                        <ul>
                                          <li>Technical support for Security Solutions</li>
                                          <li>Product warranty questions </li>
                                          <li>Product service enquiries</li>
                                        </ul>
                                      </div>
                                      <div class="Support_call">
                                    <h5>Call Support</h5>
                                    <p>To talk to our Technical Support team, <br>call us on 1800 419 0373</p>
                                    </div>
                                    <div class="email_call">
                                    <h5>Email Support</h5>
                                  <p>To talk to our Technical Support team via email contact us at <a href="mailto:sales.ccve@in.panasonic.com">sales.ccve@in.panasonic.com</a></p>
                                </div>
                              </div>
                          </div>
                      
                      <div class="col-md-8 col-12">
                        <div class="right-side">
                          <div class="top-text">
                          <p>Are you looking for more information related to a Panasonic professional product or solution? We have an expert team ready to help. Please fill in the form and a Panasonic Sales representative will contact you shortly.</p>
                          <br>
                        </div>

                        <div class="inquire-now-form">
                           <form>
                            <div class="row g-3">
                              <div class="col-md-6">
                              
                                <input type="text" class="form-control" id="first-name" name="first-name*"  placeholder="First Name*" required>
                              </div>
                              <div class="col-md-6">

                                <input type="text" class="form-control" id="last Name" name="Last Name" placeholder="First Name*" required>
                              </div>
                              <div class="col-md-6">
                         
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                              </div>
                               <div class="col-md-6">

                                <input type="text" class="form-control" id="phone" name="Phone" placeholder="Phone"  required>
                              </div>
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City"  required>
                              </div>

                              <div class="col-md-6">
                                <input type="text" class="form-control" id="Organisation"  placeholder="Organisation Name"  name="Organisation">
                              </div>

                              <div class="col-md-6">
                                <input type="text" class="form-control" id="CategoryOfInterest"  placeholder="Category Of Interest"  name="Category Of Interest">
                              </div>
                               <div class="col-md-6">
                                <input type="text" class="form-control" id="Product Brand"  placeholder="Product Brand"  name="Product Brand">
                              </div>
                              <div class="col-md-6">
                                <!-- <input type="text" class="form-control" id="Product Brand"  placeholder="Product Name"  name="Product Brand"> -->
                                 <select class="form-select form-select-lg">
                                   <option>Product Name</option>
                                   <option>Product Name 2</option>
                                   <option>Product Name 3</option>
                                   <option>Product Name 4</option>
                                 </select>
                              </div>
                             <div class="col-md-6">
                                <input type="text" class="form-control" id="Product Brand"  placeholder="Product Brand"  name="Product Brand">
                              </div>
                              <div class="col-md-6">
                                <input type="text" class="form-control" id="Product Brand"  placeholder="Quantity"  name="Product Brand">
                              </div>
                              <div class="col-md-6">
                                <!-- <input type="text" class="form-control" id="Product Brand"  placeholder="Industry Type"  name="Product Brand"> -->
                                  <select class="form-select form-select-lg">
                                   <option>Industry Type</option>
                                   <option>Industry Type 1</option>
                                   <option>Industry Type 2</option>
                                   <option>Industry Type 3</option>
                                 </select>
                              </div>

                              

                              <div class="col-md-12">
                                <textarea class="form-control" id="Remarks" name="Remarks" placeholder="Remarks"  rows="5" required></textarea>
                              </div>
                              <div class="col-md-12">
                                <div class="required_sec">
                                          <div class="tacbox">
                                              <input id="checkbox" type="checkbox" />
                                               <label class="checkbox" for="checkbox">I agree to the Terms of Use & Privacy Policy.</label>
                                          </div>

                                </div>
                              </div>
                              <div class="col-12">
                                <div class="row">
                                  <div class="col-md-4 col-12 inquire-now-sbt">
                                    <button type="submit" class="btn inquire-now-link round-0" >SUBMIT</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        </div>
                        
                      </div>













          </div>
        </div>
      </section>



  


    </main>



   <footer class="footer_sec">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="ftr_logo">
              <a href=""><img src="assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="footer_social">
              <h4>Follow Us</h4>
              <ul class="social_main">
                <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Solutions</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Display Solutions</a>
                </li>
                <li class="col-auto">
                  <a href="">Projectors</a>
                </li>
                <li class="col-auto">
                  <a href="">Broadcast & professional AV</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Industries</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Retail Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">QSR Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">Meeting Room</a>
                </li>
                <li class="col-auto">
                  <a href="">Hospitality</a>
                </li>

                <li class="col-auto">
                  <a href="">Airports/ Railways</a>
                </li>
                <li class="col-auto">
                  <a href="">Education Institutions</a>
                </li>

                
              </ul>
          </div>

            <div class="col-12 col-md-2 ">
                <div class="ftr_title"><h3>Other Links</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">About Us</a>
                </li>
                <li class="col-auto">
                  <a href="">Newsroom</a>
                </li>
                <li class="col-auto">
                  <a href="">Case studies</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-3 contact_us">
               <div class="ftr_title"><h3>Contact Us</h3></div>
              <ul class="footer_menu_main gx-2 justify-content-md-between">
                <li class="col-auto">
                  <p>Panasonic Life Solutions India Private Limited12th Floor, Ambience Tower I, Ambience IslandNH-8, Gurgaon, Haryana-122002, IndiaTel-+91-0124-4751300</p>
                </li>
                <li class="col-auto">
                  Contact Number: +91 9818808005
                </li>
                <li class="col-auto">
                 Email Address: sales.ccve@in.panasonic.com
                </li>
              </ul>
          </div>
<!-- 
            <ul class="mobile_menu">
              <li><a href="cinthol-brand-story.html">Cinthol Brand Story</a></li>
              <li><a href="why-original.html">Original</a></li>
              <li><a href="cinthol-original-story.html">Cinthol Original History</a></li>
              <li><a href="#">Lime</a></li>
              <li><a href="inspired-list.html">Get Inspired</a></li>
              <li><a href="#">Cool</a></li>
            </ul> -->
           
          
        </div>


      </div>
      <div class="container ">
        <div class="top-border"></div>
        <div class="row justify-content-between align-items-center ftr-bottom-menu">
          <div class="col col-md-auto">
             <div class="ftr_left_menu">
                <p><a href="#">Privacy Policy</a></p>
            </div>
          </div>
          <div class="col col-md-auto">
            <div class="copyright_text"> © All rights are reserved.</div>
          </div>
          <div class="col-auto">
             <div class="ftr_right_menu">
              <p><a href="#">Terms of Use</a></p>
        </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="video_popup" tabindex="-1" aria-labelledby="video_popupLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="450" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- <script src="assets/js/jquery-3.2.1.min.js" ></script> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/fontawesome-all.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/script_custom.js"></script>
   

    
  </body>
</html>
