<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" >
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Panasonic</title>
  </head>
  <body>

    
    
    <header class="header_sec">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="index.html">
             <img src="assets/images/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto main_menu">
              <li class="nav-item">
                <a class="nav-link" href="AboutUs.html">ABOUT US</a>
              </li>
           
              <li class="nav-item has_child">
                <a class="nav-link drop_togl_inr" href="javascript:void(0)">
                SOLUTIONS
                </a>
                <ul class="dropdown-menu sub_menu">
                  <li class="has_child">
                    <a class="dropdown-item drop_togl_inr" href="javascript:void(0)">SURVEILLANCE CAMERAS</a>
                    <ul class="sub_menu">
                      <li><a href="IproListing.html">i-PRO CAMERA</a></li>
                      <li><a href="#">ADVIDIA CAMERA</a></li>
                    </ul>
                  </li>

                  <li>
                    <a class="dropdown-item" href="javascript:void(0)">NETWORK VIDEO RECORDERS</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="Accessories.html">ACCESSORIES</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="javascript:void(0)">SECURITY SOLUTIONS</a>
                  </li>
                 
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">INDUSTRIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CaseStudy.html">CASE STUDIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Newsroom.html">NEWSROOM</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto right-nav inquire-now-menu mobile_hide">
                  <li class="nav-item">
                      <a class="inquire-now-link" href="InquireNow.html">INQUIRE NOW</a>
                  </li>
              </ul>
            <ul class="social_main mobile_mene_soc">
              <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
            </ul> 
          </div>
        </div>
      </nav>
    </header>

    <div class="header_space"></div>
    <main class="main_content">
      <section class="breadcrumb-sec">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item">Surveillance Camera</li>
              <li class="breadcrumb-item active" aria-current="page">ipro cameras</li>
            </ol>
          </nav>
        </div>
      </section>
      <section class="Products_details_page">
        <div class="container">
          <div class="row align-items-center">
          <div class="col-md-6">
            <div class="Products_img">
               <img class="img-fluid" src="assets/images/product_img.png" alt="Products">
            </div>
            
          </div>
          <div class="col-md-6"> 
            <div class="main_products_details">
              <div class="product_description">
                <div class="products_code product_small_name">Android display</div>
                <div class="products_name"><h2>1m 89.3cm (75”) Interactive Display</h2></div>
              </div>
              <div class="product_info">
                <p>2MP(1080p) Indoor Box Network Camera with AI engine</p>
                <ul>
                  <li>Better interaction with best-in-class multi-touch for education</li>
                  <li>Boost learning with built-in Android OS</li>
                  <li>Powerful screen sharing, smart, wireless sharing from multiple devices</li>
                  <li>Create more engaging lessons with the built in intelligent Apps</li>
                 
                </ul>
              </div>
              <div class="choose_size">
                <h5>Choose Your Size</h5>

                <div class="Size_button_block">


                 <div class="radio_button">
                    <input type="radio" id="65Inch" name="type" value="65Inch">
                     <label data-icon="M" for="65Inch">
                       <p>65 Inch</p>
                     </label>
                 </div>
              
              <div class="radio_button">
                    <input type="radio" id="85Inch" name="type" value="85Inch">
                     <label data-icon="L" for="85Inch">
                      <p>85 Inch </p>
                     </label>
              </div>
            </div>
                
              </div>
              <div class="inquire-block mt-5">
              <a class="inquire-now-link" href="#">INQUIRE NOW</a>
            </div>
      
              
            </div>
          </div>
            
          </div>
      </section>
      <section class="product_tab_sec">
        <div class="container">
              <nav class="tab_nav">
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-features-tab" data-bs-toggle="tab" data-bs-target="#features" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Key Features</button>
                  <button class="nav-link" id="nav-specifications-tab" data-bs-toggle="tab" data-bs-target="#specifications" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Specifications</button>
                  <button class="nav-link" id="nav-resources-tab" data-bs-toggle="tab" data-bs-target="#resources" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Download brochures</button>
                  <button class="nav-link" id="nav-RelatedProducts-tab" data-bs-toggle="tab" data-bs-target="#RelatedProducts" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Related Products</button>
                </div>
              </nav>

              <div class="tab-content p-3" id="nav-tabContent">
                <div class="tab-pane fade active show" id="features" role="tabpanel" aria-labelledby="nav-features-tab">
                  <!-- Key Features start -->
                  <div class="tabs_container">
                  <h3 class="desktop_hide mobile_title ">Key Features</h3>

                   <div class="featurescontent tabs_content_block">
                    <h5>WV-S1136 has onboard AI functionality. AI-based high precision analysis helps surveillance operations and crime prevention operations more efficiently, whereas these operations previously required dedicated manpower.</h5>
                    <p>There are 3 main AI functions available through the camera: detecting changes in captured scenes, optimizing the image settings of the camera (based on captured scene analysis) for better image usability, and optimizing video compression through captured scenes to save bandwidth at 50%* lower than existing cameras while maintaining image quality. <br>(*Compared to Smart Coding ON with H.265)</p>
                    <h5>Optimization of image quality and data compression using AI engine</h5>
                    <ul>
                      <li>AI detects, identifies and determines movement and object (humans, vehicles and two-wheel motorcycles / bicycles).</li>
                      <li>Intelligent Auto and Color Night Vision determine human faces and captures them in the most visible state.</li>
                      <li>Smart Coding determines moving objects, identifies where there is no movement, and performs efficient data compression.</li>
                    </ul>
                    <h5>Third-party relationship</h5>
                    <ul>
                      <li>To enable 3rd party companies to develop their applications using SDK.</li>
                       <li>Users can freely combine applications and introduce analysis software that is the best match for their requirements.</li>
                    </ul>
                    <h5>Easy installation and usability</h5>
                    <ul>
                      
                        <li>Multi AI Server is a easily and quickly search function based on the face, person attributes, and vehicle attributes detected by AI, and is composed of AI plugin software, Edge AI application, and Server AI software. </li>
                        <li>Camera with AI engine automatically applies optimal settings, allowing you to capture high-quality images effortlessly.</li>
                         <li>Easy Kitting connect the network cable to the camera body simply by opening a part of the packaging, saving you time and working space.</li>
                      
                    </ul>
                    <h3>High security standard</h3>
                    <ul>
                      <li>Highest level of security. In addition to digital certificates issued by a third-party organization (GlobalSign®), FIPS 140-2 Level 3 certified EdgeLock® SE050F secure element (NXP® Semiconductors) is embedded.</li>
                    </ul>
                  </div>
                 <!-- Key Features End -->

                  </div>
                </div>




                <div class="tab-pane fade" id="specifications" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <!--specifications  start -->

                  <div class="tabs_container">
                  <h3 class="desktop_hide mobile_title ">Specifications</h3>
                  <div class="tabs_content_block">

                    
                   <div class="accordion " id="featuresAccordion">

                    <div class="accordion-item">
                      <h2 id="features1" class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#featuresHeading1" aria-expanded="true" aria-controls="featuresHeading1">
                       Camera
                         </button>
                      </h2>
                      <div id="featuresHeading1" class="accordion-collapse collapse show" aria-labelledby="features1" data-bs-parent="#featuresAccordion">
                        <div class="accordion-body">
                         <div class="specifications">
                          <table class="table">
                                <thead class="thead-inverse">
                                  <tr>
                                   
                                   
                                    <th>Components</th>
                                    <th>Specifications</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                  
                                    <td>Image Sensor</td>
                                    <td>1/1.8 type CMOS image sensor</td>
                                  </tr>
                                  <tr>
                                    
                                    <td>Minimum Illumination</td>
                                    <td>
                                      @Color : 0.09 lx, BW : 0.05 lx (F1.5, Maximum shutter : Off (1/30s), AGC : 11) <br>
                                      BW : 0 lx (F1.5, Maximum shutter : Off (1/30 s), <br>
                                     AGC : 11, when the IR LED is lit) Color : 0.006 lx, <br>
                                     BW : 0.003 lx (F1.5, Maximum shutter : max. 16/30s, AGC : 11)</td>
                                  </tr>
                                  <tr>
                                     <td>White Balance</td>
                                    <td>@ATW1/ATW2/AWC</td>
                                  </tr>
                                   <tr>
                                     <td>Shutter Speed</td>
                                    <td>[30fps mode] 1/30 Fix to 1/10000 Fix [25fps mode] 1/25 Fix to 1/10000 Fix</td>
                                  </tr>
                                   <tr>
                                     <td>AI Intelligent Auto</td>
                                    <td>On / Off</td>
                                  </tr>
                                   <tr>
                                     <td>Dynamic Range</td>
                                    <td>Max.132 dB (Super Dynamic : On, Level : 31)</td>
                                  </tr>
                                  <tr>
                                     <td>Adaptive Black Stretch</td>
                                    <td>The level can be set in the range of 0 to 255.</td>
                                  </tr>
                                  <tr>
                                    <td>Back Light Compensation/High Light Compensation</td>
                                    <td>BLC (Back light compensation) / HLC (High light compensation) / Off The level can be set in the range of 0 to 31. (only when Super dynamic / AI Intelligent Auto : Off)</td>

                                  </tr>
                                  <tr>
                                    <td>Fog Compensation</td>
                                    <td>BLC (Back light compensation) / HLC (High light compensation) / Off The level can be set in the range of 0 to 31. (only when Super dynamic / AI Intelligent Auto : Off)</td>
                                  </tr>
                                  <tr>
                                    <td>Maximum Gain</td>
                                    <td>The level can be set in the range of 0 to 11.</td>
                                  </tr>
                                   <tr>
                                    <td>Color/BW (ICR)</td>
                                    <td>Off / On (IR Light Off) / On (IR Light On) / Auto1(IR Light Off) / Auto2 (IR Light On) / Auto3 (SCC)</td>
                                  </tr>
                                  <tr>
                                    <td>IR LED Light</td>
                                    <td>High / Middle / Low / Off, Maximum irradiation distance : 40 m {Approx. 131 ft}</td>
                                  </tr>
                                  <tr>
                                    <td>Digital Noise Reduction (DNR)</td>
                                    <td>The level can be set in the range of 0 to 255.</td>
                                  </tr>
                                  <tr>
                                    <td>Video Motion Detection (VMD)</td>
                                     <td>Video Motion Detection (VMD)</td>
                                  </tr>
                                   <tr>
                                    <td>Scene Change Detection</td>
                                     <td>On / Off, 1 area available</td>
                                  </tr>
                                   <tr>
                                    <td>Privacy Zone</td>
                                    <td>On / Off, Up to 8 zones available</td>
                                  </tr>
                                  <tr>
                                    <td>Image Rotation</td>
                                    <td>0 ° (Off) / 90 ° / 180 ° (Upside-down) / 270 °</td>
                                  </tr>
                                  <tr>
                                    <td>Camera Title (OSD)</td>
                                    <td>On / Off Up to 20 characters (alphanumeric characters, marks)</td>
                                  </tr>



                                  
                                </tbody>
                              </table>
                           
                         </div>
                         <!--  -->
                        </div>
                      </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="features2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#featuresHeading2" aria-expanded="false" aria-controls="featuresHeading2"> Lens </button>
                      </h2>
                      <div id="featuresHeading2" class="accordion-collapse collapse" aria-labelledby="features2" data-bs-parent="#featuresAccordion">
                        <div class="accordion-body"> Throughout history, robots have both embraced and rejected the act of working with other robots in a collective. While science has shown that collective artificial intelligence helps both intellectual and technological development, it has also shown that some robots really want to just be and think by themselves. How do we harness the benefits of both while avoiding the downfall of each? </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="features3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#featuresHeading3" aria-expanded="false" aria-controls="featuresHeading2"> DORI </button>
                      </h2>
                      <div id="featuresHeading3" class="accordion-collapse collapse" aria-labelledby="features3" data-bs-parent="#featuresAccordion">
                        <div class="accordion-body"> Throughout history, robots have both embraced and rejected the act of working with other robots in a collective. While science has shown that collective artificial intelligence helps both intellectual and technological development, it has also shown that some robots really want to just be and think by themselves. How do we harness the benefits of both while avoiding the downfall of each? </div>
                      </div>
                    </div>
                  </div>


                  </div>
                  <!--specifications end  -->
                  
                </div>
                <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="av-resources-tab">
                  <!-- resources start -->

                  <div class="tabs_container">
                  <h3 class="desktop_hide mobile_title ">Download brochures</h3>
                  <div class="resources-sec tabs_content_block">
                    <ul>
                      <li>
                        <h5>Manual files</h5>
                          <div class="brochure-block">
                            <div class="brochure-item">
                           <div class="brochure-thumbnail"><img src="assets/images/brochure-img.png"/ alt="Brochure Image"></div>
                           <p>Surveillance Camera Brochure</p>
                         </div>
                          <div class="brochurer-download"><a class="download-link" href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" download="">Download</a></div>
                         </div>
                      </li>
                      
                    </ul>
                  </div>


                    
                  </div>

                  <!-- resources end -->
                  

                </div>
                <div class="tab-pane fade" id="RelatedProducts" role="tabpanel" aria-labelledby="nav-RelatedProducts-tab">

                  <div class="tabs_container">
                  <h3 class="desktop_hide mobile_title ">Related Products</h3>
                  <div class="tabs_content_block">

                  <!-- related product start -->
                  <div class="row">
                     
                     <div class="col-md-6 col-lg-3 col-xl-3">
                       <div class="product py-4">
                          <div class="product_img">
                            <figure>
                               <img src="assets/images/product_img.png" alt="product img">
                            </figure>
                          </div>
                            <div class="product_details">
                              <div class="product_code">LH-98QM6HVS</div>
                             <div class="product_name"><h4>1m 89.3cm (75”) Interactive Display</h4></div>
                              <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock…</p></div>
                                <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                            </div>

                       </div>
                     </div>

                     <div class="col-md-6 col-lg-3 col-xl-3">
                       <div class="product py-4">
                          <div class="product_img">
                            <figure>
                               <img src="assets/images/product_img.png" alt="product img">
                            </figure>
                          </div>
                            <div class="product_details">
                             <div class="product_code">LH-98QM6HVS</div>
                              <div class="product_name"><h4>1m 89.3cm (75”) Interactive Display</h4></div>
                              <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock…</p></div>
                                <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                            </div>

                       </div>
                     </div>


                     <div class="col-md-6 col-lg-3 col-xl-3">
                       <div class="product py-4">
                          <div class="product_img">
                            <figure>
                               <img src="assets/images/product_img.png" alt="product img">
                            </figure>
                          </div>
                            <div class="product_details">
                             <div class="product_code">LH-98QM6HVS</div>
                            <div class="product_name"><h4>1m 89.3cm (75”) Interactive Display</h4></div>
                              <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock…</p></div>
                                <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                            </div>
                       </div>
                     </div>

                      <div class="col-md-6 col-lg-3 col-xl-3">
                       <div class="product py-4">
                          <div class="product_img">
                            <figure>
                               <img src="assets/images/product_img.png" alt="product img">
                            </figure>
                          </div>
                            <div class="product_details">
                             <div class="product_code">LH-98QM6HVS</div>
                             <div class="product_name"><h4>1m 89.3cm (75”) Interactive Display</h4></div>
                              <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock…</p></div>
                                <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                            </div>
                       </div>
                     </div>


                  </div>
                  <!-- related product end -->
                </div>
              </div>
                 
                </div>
                
              </div>


        </div>
        
      </section>
  


    </main>


<footer class="footer_sec">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="ftr_logo">
              <a href=""><img src="assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="footer_social">
              <h4>Follow Us</h4>
              <ul class="social_main">
                <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Solutions</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Display Solutions</a>
                </li>
                <li class="col-auto">
                  <a href="">Projectors</a>
                </li>
                <li class="col-auto">
                  <a href="">Broadcast & professional AV</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Industries</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Retail Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">QSR Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">Meeting Room</a>
                </li>
                <li class="col-auto">
                  <a href="">Hospitality</a>
                </li>

                <li class="col-auto">
                  <a href="">Airports/ Railways</a>
                </li>
                <li class="col-auto">
                  <a href="">Education Institutions</a>
                </li>

                
              </ul>
          </div>

            <div class="col-12 col-md-2 ">
                <div class="ftr_title"><h3>Other Links</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">About Us</a>
                </li>
                <li class="col-auto">
                  <a href="">Newsroom</a>
                </li>
                <li class="col-auto">
                  <a href="">Case studies</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-3 contact_us">
               <div class="ftr_title"><h3>Contact Us</h3></div>
              <ul class="footer_menu_main gx-2 justify-content-md-between">
                <li class="col-auto">
                  <p>Panasonic Life Solutions India Private Limited12th Floor, Ambience Tower I, Ambience IslandNH-8, Gurgaon, Haryana-122002, IndiaTel-+91-0124-4751300</p>
                </li>
                <li class="col-auto">
                  Contact Number: +91 9818808005
                </li>
                <li class="col-auto">
                 Email Address: sales.ccve@in.panasonic.com
                </li>
              </ul>
          </div>

           
          
        </div>


      </div>
      <div class="container ">
        <div class="top-border"></div>
        <div class="row justify-content-between align-items-center ftr-bottom-menu">
          <div class="col col-md-auto">
             <div class="ftr_left_menu">
                <p><a href="#">Privacy Policy</a></p>
            </div>
          </div>
          <div class="col col-md-auto">
            <div class="copyright_text"> © All rights are reserved.</div>
          </div>
          <div class="col-auto">
             <div class="ftr_right_menu">
              <p><a href="#">Terms of Use</a></p>
        </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="video_popup" tabindex="-1" aria-labelledby="video_popupLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="450" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- <script src="assets/js/jquery-3.2.1.min.js" ></script> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/fontawesome-all.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/script_custom.js"></script>
   

    
  </body>
</html>
