<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" >
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Panasonic</title>
  </head>
  <body>

    
    
    <header class="header_sec">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="index.html">
             <img src="assets/images/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto main_menu">
              <li class="nav-item">
                <a class="nav-link" href="AboutUs.html">ABOUT US</a>
              </li>
           
              <li class="nav-item has_child">
                <a class="nav-link drop_togl_inr" href="javascript:void(0)">
                SOLUTIONS
                </a>
                <ul class="dropdown-menu sub_menu">
                  <li class="has_child">
                    <a class="dropdown-item drop_togl_inr" href="javascript:void(0)">SURVEILLANCE CAMERAS</a>
                    <ul class="sub_menu">
                      <li><a href="IproListing.html">i-PRO CAMERA</a></li>
                      <li><a href="#">ADVIDIA CAMERA</a></li>
                    </ul>
                  </li>

                  <li>
                    <a class="dropdown-item" href="javascript:void(0)">NETWORK VIDEO RECORDERS</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="Accessories.html">ACCESSORIES</a>
                  </li>
                   <li>
                    <a class="dropdown-item" href="javascript:void(0)">SECURITY SOLUTIONS</a>
                  </li>
                 
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">INDUSTRIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="CaseStudy.html">CASE STUDIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Newsroom.html">NEWSROOM</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto right-nav inquire-now-menu mobile_hide">
                  <li class="nav-item">
                      <a class="inquire-now-link" href="InquireNow.html">INQUIRE NOW</a>
                  </li>
              </ul>
            <ul class="social_main mobile_mene_soc">
              <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
            </ul> 
          </div>
        </div>
      </nav>
    </header>

    <div class="header_space"></div>

    <main class="main_content">
      <section class="iprolistingBanner">
        <div class="categories_top_banner">
          <figure>
            <img src="assets/images/display_solution_banner.png" alt="banner">
          </figure>
        </div>
      </section>
      <section class="breadcrumb-sec">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item">Surveillance Camera</li>
              <li class="breadcrumb-item active" aria-current="page">ipro cameras</li>
            </ol>
          </nav>
        </div>
      </section>

      <section class="sec_padd product_display_solution">
          <div class="container">


          <div class="head_cmn text-center">
            <h2 class="head_2">PROFESSIONAL DISPLAY SOLUTIONS</h2>
                <div class="sec_p text-center">
                    <p>Effortlessly deliver better, more engaging content to your audience with a fully integrated Digital Signage solution. Panasonic is your all-in-one strategic solution partner for providing the best customer experience from your digital signage applications.</p>
                </div>
          </div>

          <div class="row">
            <div class="col-md-10 mx-auto">
                  
            </div>
         </div>

         <div class="row">
           <div class="col-md-12">
            <div class="display_box">
               <div class="display_banner display_hover_top">
                 <figure>
                    <img src="assets/images/product_banner_1.jpg">
                </figure>
                <div class="text-caption">
                  <h3>Android Display</h3>
                 <p>Effortlessly deliver better, more engaging content to your audience<br> with a fully integrated Digital Signage solution.</p>
                  <a href="#" class="btn View-all-btn common-btn">View All  <span class="fas fa-arrow-right"></span></i></a>
                  
                </div>
               </div>
            </div>
           </div>

           <div class="col-md-4">
              <div class="display_left">
                 <div class="display_banner_fig display_hover">
                     <figure>
                       <img src="assets/images/product_banner_1.jpg">
                    </figure>
                     <div class="text-caption">
                        <h3>Android Display</h3>
                        <p>Effortlessly deliver better, more engaging content to your audience<br> with a fully integrated Digital Signage solution.</p>
                        <a href="#" class="btn View-all-btn common-btn">View All  <span class="fas fa-arrow-right"></span></a>
                    </div>
                 </div>
              </div>
            </div>

            <div class="col-md-4">
               <div class="display_right">
                 <div class="display_banner_fig display_hover">
                     <figure>
                       <img src="assets/images/product_banner_1.jpg">
                    </figure>

                     <div class="text-caption">
                        <h3>QM-HB Series</h3>
                        <p>Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam non umy eirmod tempor</p>
                        <a href="#" class="btn View-all-btn common-btn">View All  <span class="fas fa-arrow-right"></span></a>
                    </div>
                 </div>
              </div>
           </div>

            <div class="col-md-4">
               <div class="display_right">
                 <div class="display_banner_fig display_hover">
                     <figure>
                       <img src="assets/images/product_banner_1.jpg">
                    </figure>
                     <div class="text-caption">
                        <h3>QM Series</h3>
                        <p>Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam non umy eirmod tempor Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam non umy eirmod tempor</p>
                        <a href="#" class="btn View-all-btn common-btn">View All <span class="fas fa-arrow-right"></span></a>
                    </div>
                 </div>
              </div>
           </div>




         </div>


      </div>
      </section>



      <section class="Products_listing_sec sec_padd">
          <div class="container">
            
            <div class="row">
              <div class="col-md-3">
                <div class="product_sidebar">
                  <div class="filter">
                    <!-- <h5>Filter By</h5> -->

                    <div class="box border-bottom">
                      <div class="box-label">
                        Type
                        <button class="btn ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#inner-box" aria-expanded="false" aria-controls="inner-box" id="out" onclick="outerFilter()">
                        <span class="fas fa-minus"></span>
                        <span class="fas fa-plus"></span>
                      </button>
                      </div>
                        <div id="inner-box" class="mt-2 mr-1 collapse" style="">
                          <div class="filter-option">
                              <label class="tick">QM Series<input type="checkbox" checked="checked">
                                <span class="check"></span>
                              </label>
                            </div>
                            <div class="filter-option">
                              <label class="tick">QM Series <input type="checkbox">
                                <span class="check"></span>
                              </label>
                            </div>
                            <div class="filter-option">
                              <label class="tick">QM Series<input type="checkbox">
                                <span class="check"></span>
                              </label>
                            </div>
                          </div>
                    </div>


                    <div class="box border-bottom">
                      <div class="box-label">
                       Industries
                        <button class="btn ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#inner-box1" aria-expanded="false" aria-controls="inner-box" id="out" onclick="outerFilter()">
                        <span class="fas fa-minus"></span>
                        <span class="fas fa-plus"></span>

                      </button>
                      </div>
                        <div id="inner-box1" class="mt-2 mr-1 collapse" style="">
                          <div class="filter-option">
                              <label class="tick">QSR <input type="checkbox" checked="checked">
                                <span class="check"></span>
                              </label>
                            </div>
                            <div class="filter-option">
                              <label class="tick">QSR<input type="checkbox">
                                <span class="check"></span>
                              </label>
                            </div>
                            <div class="filter-option">
                              <label class="tick">QSR<input type="checkbox">
                                <span class="check"></span>
                              </label>
                            </div>
                          </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              <div class="col-md-9">
                 <div class="row ">
                  <div class="col-md-12 col-12">
                    <div class="top-head-bar justify-content-between d-flex align-items-center">
                      <div class="dropdown filter-dropdown">
                      <button id="dLabel" class="dropdown-select" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Select Cameras<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li>iPRO Cameras</li>
                        <li>iPRO Cameras1</li>
                        <li>iPRO Cameras2</li>
                        <li>iPRO Cameras3</li>
                        <li>iPRO Cameras4</li>
                        <li>iPRO Cameras5</li>
                      </ul>
                    </div>
                    <div class="product-found">10 products found</div>
                  </div>
                  </div>
                   <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                            <div class="product_code">ANDROID DISPLAY</div>
                           <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                            <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>

                     <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                            <div class="product_code">ANDROID DISPLAY</div>
                           <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                            <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>



                  <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                              <div class="product_code">ANDROID DISPLAY</div>
                              <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                              <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>



                     <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                            <div class="product_code">ANDROID DISPLAY</div>
                           <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                            <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>



                    <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                            <div class="product_code">ANDROID DISPLAY</div>
                           <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                            <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>



                     <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                            <div class="product_code">ANDROID DISPLAY</div>
                           <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                            <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>


                  <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                            <div class="product_code">ANDROID DISPLAY</div>
                           <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                            <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>


                     <div class="col-md-6 col-lg-4 col-xl-4">
                     <div class="product py-4">
                        <div class="product_img">
                          <figure>
                             <img src="assets/images/product_img.png" alt="product img">
                          </figure>
                        </div>
                          <div class="product_details">
                            <div class="product_code">ANDROID DISPLAY</div>
                           <div class="product_name"><h4>LH-98QM6HVS</h4></div>
                            <div class="product_des"><p>Built-in Wireless Display, Auto Input Detect and Switch, Real Time Clock, USB Auto play, Logo Image Setting function, 24/7 operation</p></div>
                              <a href="#" class="inquire-now-btn">INQUIRE NOW</a>
                          </div>

                     </div>
                   </div>

                   <div class="col-md-12 load-more-col text-center">
                     <a href="#" class="load-more">Load more</a>
                   </div>
                   
                 </div>
              </div>
            </div>
          </div>
        
      </section>
  


    </main>



 <footer class="footer_sec">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="ftr_logo">
              <a href=""><img src="assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="footer_social">
              <h4>Follow Us</h4>
              <ul class="social_main">
                <li><a href="#" class="social_insta"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="social_twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="social_fb"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" class="social_yt"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Solutions</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Display Solutions</a>
                </li>
                <li class="col-auto">
                  <a href="">Projectors</a>
                </li>
                <li class="col-auto">
                  <a href="">Broadcast & professional AV</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-2">
            <div class="ftr_title"><h3>Industries</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">Retail Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">QSR Industry</a>
                </li>
                <li class="col-auto">
                  <a href="">Meeting Room</a>
                </li>
                <li class="col-auto">
                  <a href="">Hospitality</a>
                </li>

                <li class="col-auto">
                  <a href="">Airports/ Railways</a>
                </li>
                <li class="col-auto">
                  <a href="">Education Institutions</a>
                </li>

                
              </ul>
          </div>

            <div class="col-12 col-md-2 ">
                <div class="ftr_title"><h3>Other Links</h3></div>
              <ul class="footer_menu_main justify-content-md-between">
                <li class="col-auto">
                  <a href="">About Us</a>
                </li>
                <li class="col-auto">
                  <a href="">Newsroom</a>
                </li>
                <li class="col-auto">
                  <a href="">Case studies</a>
                </li>
              </ul>
          </div>

            <div class="col-12 col-md-3 contact_us">
               <div class="ftr_title"><h3>Contact Us</h3></div>
              <ul class="footer_menu_main gx-2 justify-content-md-between">
                <li class="col-auto">
                  <p>Panasonic Life Solutions India Private Limited12th Floor, Ambience Tower I, Ambience IslandNH-8, Gurgaon, Haryana-122002, IndiaTel-+91-0124-4751300</p>
                </li>
                <li class="col-auto">
                  Contact Number: +91 9818808005
                </li>
                <li class="col-auto">
                 Email Address: sales.ccve@in.panasonic.com
                </li>
              </ul>
          </div>

           
          
        </div>


      </div>
      <div class="container ">
        <div class="top-border"></div>
        <div class="row justify-content-between align-items-center ftr-bottom-menu">
          <div class="col col-md-auto">
             <div class="ftr_left_menu">
                <p><a href="#">Privacy Policy</a></p>
            </div>
          </div>
          <div class="col col-md-auto">
            <div class="copyright_text"> © All rights are reserved.</div>
          </div>
          <div class="col-auto">
             <div class="ftr_right_menu">
              <p><a href="#">Terms of Use</a></p>
        </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="video_popup" tabindex="-1" aria-labelledby="video_popupLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="450" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- <script src="assets/js/jquery-3.2.1.min.js" ></script> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/fontawesome-all.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/script_custom.js"></script>
   

    
  </body>
</html>
